{% extends "./base.html" %}


{% block body %}

<div class="container">
    <br>
    <br>
    <div class="container">
        <h5>Welcome To Twitter Clone</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Dolorum, excepturi fugiat dignissimos dolores, 
            libero sit officiis soluta possimus nemo quos quisquam? 
            Debitis corrupti doloremque aliquid qui natus provident sapiente culpa?
        </p>

        <br>
        <br>

    </div>
</div>

{%endblock%}