{% extends "./base.html" %}


{%block nav_links%}

<li><a href="/login">Login</a></li>
<li><a href="/signup">Sign up</a></li>

{%endblock%}

{% block body %}

<div class="container">
    <br>
    <br>
    <div class="container">
        <h5>Welcome To Twitter Clone</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Dolorum, excepturi fugiat dignissimos dolores, 
            libero sit officiis soluta possimus nemo quos quisquam? 
            Debitis corrupti doloremque aliquid qui natus provident sapiente culpa?
        </p>

        <br>
        <br>
    </div>
</div>

{%endblock%}