{% extends "./base.html" %}


{%block head%}

<style>
  .profile_picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;

  }

  body {
    background-color: lightcyan;
  }

  .profile_visual_summary {
    margin-left: 3%;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.tweet_interactions{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
}

.tweet_interactions li{
  float: left;
}

.tweet_interactions li a{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
</style>

{%endblock%}

{%block nav_links%}

<li><a href="/logout">Log Out</a></li>

{%endblock%}

{%block body%}

<div class="fixed-action-btn">
  <button id="myBtn" class="btn-floating btn-large red modal-trigger" data-target="#modal1">
    <i class="large material-icons">✍️</i>
  </button>
</div>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form method="POST" action="/tweet">
      <label for="tweet_text">Tweet</label>
      <textarea class="materialize-textarea" id="tweet_input" name="tweet_text" maxlength="140"></textarea>
      <div id="textarea_feedback"></div>
      <button type="submit">Post Tweet</button>
    </form>
  </div>

</div>



<div class="row">

  <div class="col s3" style="height: 60vh;
                              width: 20vw;
                              margin-left:1%;
                              margin-right:0.7%">
    <div class="row">
      <div class="profile_visual_summary">
        <br>
        <img class="profile_picture" src="../static/{{user.profile_picture_url}}">
        <h5 style="margin-top: 1%;">{{user.display_name}}</h5>
        <a href="/profile/{{user.user_handle}}"><p style="margin: 0;padding:0;">@{{user.user_handle}}</p></a>
      </div>
    </div>
  </div>

  <div class="col s9" style="background-color: whitesmoke;
                              height:auto;
                              width:60vw;
                              box-shadow: 0px 3px 15px rgba(0,0,0,0.2);">
    {% for tweet in user.tweets %}
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{tweet.owner.user_handle}}</span>
            <p>{{tweet.text}}</p>
          </div>
          <div class="card-action">
            <a><i class="material-icons">reply</i></a>
            <a><i class="material-icons">repeat</i></a>
            {% if user.has_liked_tweet(tweet) %}
            <a href="{{ url_for('tweet_related.like_tweet', tweet_id=tweet.id, action='unlike') }}"><i class="material-icons">favorite</i><span>{{tweet.likes}}</span></a>
            {% else %}
            <a href="{{ url_for('tweet_related.like_tweet', tweet_id=tweet.id, action='like') }}"><i class="material-icons">favorite_border</i><span>{{tweet.likes}}</span></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>

</div>

<!-- Managing the modal for posting tweets -->
<script>
  // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<!-- remaining characters allowed for a tweet -->
<script>
  $(document).ready(function() {
    var text_max = 140;
    $('#textarea_feedback').html(text_max + ' characters remaining');

    $('#tweet_input').keyup(function() {
        var text_length = $('#tweet_input').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback').html(text_remaining + ' characters remaining');
    });
});

</script>
{%endblock%}